
body, html {
	font-family: "Roboto";
	min-height: 100vh;
	min-width: 100vw;
	position: cover;
	background-color: #EEEEEE;
}

#navbar{
	background-color: #3D3F4D;
	height: 80px;
}
#logo{
  	padding: 10px;
    height: 70px;
	margin-top: 5px;
}
.tabs{
	margin-top: 17px;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #272D4E;
}
.tabs .tab a:hover{
	color: #272D4E;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #FBC02D !important;
}
.github{
	background-color: #FBC02D;
	color: #000;
	margin-top: 10px;
	margin-right: 10px;
}
.github:hover{
	background-color: #FBC02D;
	color: #000;
}
.createSection{
	width: 40%;
	background-color: #FFFFFF;
}
#btn{
	background-color: #7A7F99;
	width: 100%;
}
.objectOutput{
	width: 40%;
	margin-top: 60px;
}
#input{
	padding-left: 25px;
	padding-right: 25px;
}
.header{
	color: #414B82;
}
.data{
	color: #B0B2B5;
}
.category{
	color: #B0B2B5;
}
.outputData{
	color: #414B82
}
.input-field label {
     color: #000;
}
.input-field input[type=text]:focus + label {
     color: #000;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FFD700;
     box-shadow: 0 1px 0 0 #FFD700;
}
#options{
	margin-top: 30px;
	width: 40%;
}
.queryheader{
	color: #414B82;
}
#queryResults{
	width: 40%;
	margin-top: 17px;
}
.ptag{
	padding-top: 10px;
} 
#dropdown{
	width: 40%;
	background-color: #FFFFFF;
}
#voteSection{
	width: 40%;
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
.thumbs{
	background-color: #7A7F99;
	width: 80%;
}
.thumbs:hover{
	background-color: #7A7F99;
	width: 100%;
}
